*.pt
*.txt
*.pyc
pingumil/wrong\ codes/*
dataset/**
experiment_log/**
wandb/**
output/**
*_results/*/*.csv
*_results/*.csv
hitpredictioneval/*/*/.csv
hitpredictioneval/*.csv
player_profiles_winpred/*.csv
*.png
deathpredictioneval/*.csv
